<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Genview</title>

    <style>
        * {
            box-sizing: border-box;
        }

        input[type=text], textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        textarea {
            min-height: 400px;
            height: fit-content;
        }

        label {
            padding: 4px 12px 4px 0;
            display: inline-block;
        }

        select {
            padding: 4px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .col-33 {
            float: left;
            width: 33%;
            margin-top: 6px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Responsive layout - when the screen is less than 900px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 900px) {
            .col-33, input[type=submit] {
                width: 100%;
                margin-top: 0;
            }
        }

        .hint {
            font-size: smaller;
        }
    </style>

</head>

<body>
<div class="container">
    <form action="/" method="post" accept-charset="UTF-8" autocomplete="off">
        <div class="row">
            <div class="col-33">
                <label for="tmpl">Templates</label>
                <p class="hint">
                    Multiple templates can be separated by <code>---- my_Template-012 --------</code> markers.
                    The name can contain <code>[-_a-zA-Z0-9]+</code> characters. The first template gets rendered,
                    others can be imported using <code>&#123;%- import my_Template-012 as mytmpl -%&#125;</code>.
                </p>
            </div>
            <div class="col-33">
                <label for="indata">Data</label>
            </div>
            <div class="col-33">
                <label for="genresult">Result</label>
            </div>
        </div>
        <div class="row">
            <div class="col-33">
                <textarea id="tmpl" name="tmpl">{{tmpl}}</textarea>
            </div>
            <div class="col-33">
                <textarea id="indata" name="indata">{{indata}}</textarea>
            </div>
            <div class="col-33">
                <textarea id="genresult" name="genresult">{{genresult}}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-33"></div>
            <div class="col-33">
		<table cellspacing="0" cellpadding="0" style="width: 90%">
		<tr>
		    <td><label for="generator_url">Generator:</label></td>
		    <td><input id="generator_url" name="generator_url" value="{{generator_url}}" style="width: 100%"></td>
		</tr>
		<tr>
                    <td><label for="api_status">API Status:</label></td>
                    <td><span id="api_status">{{ api_status }}</span></td>
		</tr>
		</table>
            </div>
            <div class="col-33">
                <label for="domain">Domain:</label>
                <input id="domain" name="domain" list="domains" value="{{domain}}"/>
                <datalist id="domains">
                    {% for domain_name in domain_list %}
                        <option value="{{domain_name}}">{{domain_name}}</option>
                    {%- endfor %}
                </datalist>
                <input type="submit" value="Submit">
            </div>
        </div>
        <div class="row">
            {% if messages %}
                <h3>Messages</h3>
                <ul>
                    {% for msg in messages %}
                        <li>{{ msg }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </form>
</div>
</body>
</html>
